{% extends 'base.html.twig' %}

{% block title %}Find Company historical prices{% endblock %}

{% block body %}
    <h1>Find Company historical prices</h1>

    {{ include('company/_form.html.twig') }}
{% endblock %}
