{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>Company</h1>

    {{ include('company/_graph.html.twig') }}
    {{ include('company/_prices_table.html.twig') }}

    <a href="{{ path('app_company_new') }}">back to form</a>
{% endblock %}
